<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit QR Code</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="toggle-container">
      <div class="toggle-button">
        <div class="toggle-circle"></div>
      </div>
    </div>
    <!-- menu -->
    <div class="menu-container">
      <button class="menu-button">≡</button>
      <div class="menu-dropdown">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <h1>Edit QR Code</h1>
        <form action="" method="POST">
          <input type="text" name="text" value="{{ qr_code.text }}" required />
          <button type="submit">Update QR Code</button>
        </form>
      </div>
      <br />
      <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
